/* Font Declare */
@font-face {
    font-family: font1;
    src: url('fonts/AkayaKanadaka-Regular.ttf');
}
@font-face {
    font-family: font2;
    src: url('fonts/CherryCreamSoda-Regular.ttf');
}
@font-face {
    font-family: font3;
    src: url('fonts/Delius-Regular.ttf');
}
@font-face {
    font-family: 'font-4-1';
    src: url('fonts/Truculenta-VariableFont_opsz\,wdth\,wght.ttf');
}
@font-face {
    font-family: 'font-4-2';
    src: url('fonts/Truculenta_18pt-Bold.ttf');
}
@font-face {
    font-family: 'font-4-3';
    src: url('fonts/Truculenta_18pt-Medium.ttf');
}
@font-face {
    font-family: 'font-4-4';
    src: url('fonts/Truculenta_18pt-Light.ttf');
}
/* Default CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    user-select: none;
}
html,body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
/* Roots */
:root{
    --background-color-white: #ffff;
    --background-color-black: #000;
    --text-color-black: #111;
    --text-color-white: #fff;
    --text-blueviolet: blueviolet;
    --text-blue: rgb(0, 102, 255);
    --text-pink: rgb(248, 96, 121);
}
body{
    background: url('assets/windows112.webp') cover center;
}