/* Font Declare */
@font-face {
    font-family: font1;
    src: url('fonts/AkayaKanadaka-Regular.ttf');
}
@font-face {
    font-family: font2;
    src: url('fonts/CherryCreamSoda-Regular.ttf');
}
@font-face {
    font-family: font3;
    src: url('fonts/Delius-Regular.ttf');
}
@font-face {
    font-family: 'font-4-1';
    src: url('fonts/Truculenta-VariableFont_opsz\,wdth\,wght.ttf');
}
@font-face {
    font-family: 'font-4-2';
    src: url('fonts/Truculenta_18pt-Bold.ttf');
}
@font-face {
    font-family: 'font-4-3';
    src: url('fonts/Truculenta_18pt-Medium.ttf');
}
@font-face {
    font-family: 'font-4-4';
    src: url('fonts/Truculenta_18pt-Light.ttf');
}
/* Default CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    user-select: none;
}
html,body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
/* Roots */
:root{
    --background-color-white: #ffff;
    --background-color-black: #000;
    --text-color-black: #111;
    --text-color-white: #fff;
    --text-blueviolet: blueviolet;
    --text-blue: rgb(0, 102, 255);
    --text-pink: rgb(248, 96, 121);
}
body{
    background-color: var(--background-color-black);
}
.font1{
    font-family: font1;
}
.font2{
    font-family: font2;
}
.font3{
    font-family: font3;
}
.text-white{
    color: var(--text-color-white);
}
.text-black{
    color: var(--text-color-black);
}
.text-blueviolet{
    color: var(--text-blueviolet);
}
.text-blue{
    color: var(--text-blue);
}
.text-pink{
    color: var(--text-pink);
}
.text-xl{
    font-size: 1.25rem;
}
.text-2xl{
    font-size: 1.5rem;
}
.text-3xl{
    font-size: 1.875rem;
}
.text-4xl{
    font-size: 2.25rem;
}
.text-5xl{
    font-size: 3rem;
}
.flex{
    display: flex;
}
.gap-1{
    gap: 0.25rem;
}
.gap-2{
    gap: 0.5rem;
}
.gap-3{
    gap: 0.75rem;
}
.gap-4{
    gap: 1rem;
}
.gap-5{
    gap: 1.25rem;
}
.items-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.items-start{
    align-items: flex-start;
}
.items-end{
    align-items: flex-end;
}
.justify-start{
    justify-content: flex-start;
}
.justify-end{
    justify-content: flex-end;
}
.justify-between{
    justify-content: space-between;
}
.justify-around{
    justify-content: space-around;
}
.justify-evenly{
    justify-content: space-evenly;
}
.grid{
    display: grid;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.cursor-pointer{
    cursor: pointer;
}
.cursor-grabbing{
    cursor: grabbing;
}
.cursor-grab{
    cursor: grab;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.fixed{
    position: fixed;
}
.flex-col{
    flex-direction: column;
}
.flex-wrap{
    flex-wrap: wrap;
}
.flex-col-reverse{
    flex-direction: column-reverse;
}
.flex-row-reverse{
    flex-direction: row-reverse;
}
.flex-row{
    flex-direction: row;
}
.overflow-hidden{
    overflow: hidden;
}
.overflow-auto{
    overflow: auto;
}
.overflow-scroll{
    overflow: scroll;
}
.display-none{
    display: none;
}
.display-block{
    display: block;
}
.display-inline-block{
    display: inline-block;
}
.z-1{
    z-index: 1;
}
.z-10{
    z-index: 10;
}
.z-100{
    z-index: 100;
}
.z-1000{
    z-index: 1000;
}
.z-10000{
    z-index: 10000;
}
.w-full{
    width: 100%;
}
.w-50{
    width: 50%;
}
.w-25{
    width: 25%;
}
.w-75{
    width: 75%;
}
.w-50px{
    width: 50px;
}
.w-100px{
    width: 100px;
}
.h-25{
    height: 25%;
}
.h-50{
    height: 50%;
}
.h-75{
    height: 75%;
}
.h-50px{
    height: 50px;
}
.h-100px{
    height: 100px;
}
.h-full{
    height: 100%;
}
.h-screen{
    height: 100vh;
}
.w-screen{
    width: 100vw;
}
.min-w-full{
    min-width: 100%;
}
.min-h-full{
    min-height: 100%;
}
.min-h-screen{
    min-height: 100vh;
}
.min-w-screen{
    min-width: 100vw;
}
.max-w-full{
    max-width: 100%;
}
.max-h-full{
    max-height: 100%;
}
.max-h-screen{
    max-height: 100vh;
}
.text-underline{
    text-decoration: underline;
}
.text-no-underline{
    text-decoration: none;
}
.text-uppercase{
    text-transform: uppercase;
}
.text-lowercase{
    text-transform: lowercase;
}
.text-capitalize{
    text-transform: capitalize;
}
.customize-button{
    position: relative;
    width: 150px;
    height: 40px;
    border: none;
    outline: 5px solid blueviolet;
    font-size: 1.4rem;
    background-color: transparent;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    font-weight: 500;
    cursor: grab;
}
.customize-button:active{
    cursor: grabbing;
}
.customize-button > *{
    position: relative;
    z-index: 2;
}
.customize-button::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    z-index: -1;
    background-color: blueviolet;
    transition: all 0.4s ease;
}
.customize-button:hover::after{
    left: 0;
}
.border-1{
    border: 1px solid;
}
.border-2{
    border: 2px solid;
}
.border-3{
    border: 3px solid;
}
.border-4{
    border: 4px solid;
}
.border-5{
    border: 5px solid;
}
.rounded-xl{
    border-radius: 1rem;
}
.rounded-2xl{
    border-radius: 1.5rem;
}
.rounded-3xl{
    border-radius: 2rem;
}
.rounded-full{
    border-radius: 50%;
}
.border-white{
    border-color: var(--background-color-white);
}
.border-black{
    border-color: var(--background-color-black);
}
.relative{
    position: relative;
}
.top-0{
    top: 0;
}
.left-0{
    left: 0;
}
.right-0{
    right: 0;
}
.bottom-0{
    bottom: 0;
}
.container{
    background: url('assets/background.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.rotate{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border-top: 5px solid var(--background-color-white);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid var(--background-color-white);
    animation: rotate 1s linear infinite;
    filter: drop-shadow(0px 0px 9px var(--background-color-white));
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
#Github, #LinkedIn, #Instagram{
    transition: all 0.3s ease;
}
#Github:hover{
    scale: 1.2;
}
#LinkedIn:hover{
    scale: 1.2;
}
#Instagram:hover{
    scale: 1.2;
}